* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.Nav-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    background-color: #ffffff;
    border: solid 1px black;
    border-radius: 100px;
    margin: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 120px;
    height: auto;
}

ul {
    cursor: pointer;
    width: 100%;
    max-width: 1350px;
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 500;
}

.Nav-one li:first-child {
    margin-right: auto;
}
.Nav-one li:not(.nav-logo):not(.Enquiry):not(.hamBurger) {
    display: none;
}

.Enquiry {
    position: relative;
    overflow: hidden;
    color: #FFF;
    background-color: #D80286;
    padding: 18px 36px;
    border-radius: 0px;
    z-index: 1;
    transition: color 0.7s ease;
}

.Nav-one .Enquiry {
    display: none;
    margin-left: initial; 
}

.Enquiry::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -130px;
    width: 200px;
    height: 130px;
    background: #000;
    border-radius: 50%;
    transition: top 0.4s ease-out;
    z-index: -1;
}

.Enquiry:hover::before {
    top: -14px;
}

.hamBurger {
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.sideBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.486);
    backdrop-filter: blur(50px);
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sideBar li {
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sideBar .nav-logo {
    margin-bottom: 20px;
    border-bottom: none;
}

.closeSideBar {
    margin-left: auto;
    cursor: pointer;
}

.sideBar .Enquiry {
    text-align: center;
    margin-top: 20px;
    width: 80%;
    align-self: center;
}

@media (min-width: 950px) {
    .Nav-one li:not(.nav-logo):not(.Enquiry):not(.hamBurger) {
        display: block;
    }

    .hamBurger {
        display: none;
    }
    .Nav-one .Enquiry {
        display: block;
        margin-left: 10px; 
    }
    
    .Nav-one ul {
        justify-content: center;
    }
    
    .Nav-one ul li:not(.nav-logo):not(.Enquiry):not(.hamBurger) {
        margin-left: 10px;
        margin-right: 10px;
    }
}